{{ extends "layout.html" }}
{{define "content"}}
    <div id="error-block" class="col-12 alert alert-danger" {{ if .data.Error }} style="display: block;" {{ end }}>
        <p>{{ .data.Error }}</p>
    </div>

    <div class="col-12 mb-2">
        <h3>{{.data.Title}}</h3>
        <span>
            <a href="/cluster/roles">(back to all)</a>
        </span>
    </div>

    <div class="col-12">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Permissions Type</th>
                    <th>Ranges / Keys</th>
                </tr>
            </thead>

            <tbody id="items-list">
                {{range $item := .data.Info.Perms}}
                <tr>
                    <td>{{$item.Type}}</td>
                    <td>
                        {{if eq $item.RangeEnd ""}}
                        {{$item.Key}}{{$item.RangeEnd}}
                        {{else}}
                        [{{$item.Key}}, {{$item.RangeEnd}}) (prefix {{$item.Key}})
                        {{end}}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>

        {{if not .data.Error }}
        <form action="/cluster/role/delete" method="post">
            <div class="form-group">
                <input type="hidden" name="csrf" value="{{.data.csrf}}">
                <input type="hidden" name="name" value="{{.data.Info.Name}}">
                <a href="/cluster/role/edit/{{.data.Info.Name}}" class="btn btn-outline-secondary">Edit Permissions</a>
                <button class="btn btn-outline-danger" type="submit" value="delete" name="_method">Delete</button>
            </div>
        </form>
        {{end}}
    </div>
{{end}}

{{define "footer-year"}}{{.year}}{{end}}
