{{ extends "layout.html" }}
{{define "content"}}
    <div id="error-block" class="col-12 alert alert-danger" {{ if .data.Error }} style="display: block;" {{ end }}>
        <p>{{ .data.Error }}</p>
    </div>

    <div class="col-12 mb-2">
        <h3>{{.data.Title}}</h3>
        <span>
            <a href="/cluster/leases">(back to all)</a>
        </span>
    </div>

    <div class="col-12 mb-2">
        <form method="post" action="/cluster/lease/create">
        <div class="form-group">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>TTL, sec</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control" value="{{.data.Item.TTL}}"
                            placeholder="TTL in seconds"
                            name="ttl"
                            min="2"
                            type="number">
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="form-group">
            <input type="hidden" name="csrf" value="{{.data.csrf}}">
            <input type="hidden" name="lease_id" value="{{.data.Item.LeaseID}}">
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </div>

        <div>
            <small class="text-info"><i>Info: Empty, zero, or negative TTLs will default to 2s</i></small>
        </div>
        </form>
    </div>
{{end}}

{{define "footer-year"}}{{.year}}{{end}}
