{{ extends "layout.html" }}

{{define "custom_css"}}
<style>
    .col-num {
        width: 2rem;
        text-align: right;
    }
    .col-checkbox {
        width: 1rem;
    }
    hr {
        width: 100%;
        margin-top: .25rem;
    }
</style>
{{end}}

{{define "content"}}
    <div id="error-block" class="col-12 alert alert-danger" {{ if .data.Error }} style="display: block;" {{ end }}>
        <p>{{ .data.Error }}</p>
    </div>

    <div class="col-12 mb-2">
        <h3>{{.data.Title}} for {{.data.Item.Name}}</h3>
        <span>
            <a href="/cluster/user?name={{.data.Item.Name}}">(back to user)</a>
        </span>
    </div>

    {{if not .data.Error }}
    <form action="/cluster/user/roles/add?name={{.data.Item.Name}}" method="post" class="col-12">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Role</th>
                </tr>
            </thead>

            <tbody id="items-list">
                {{range $idx, $item := .data.Roles}}
                <tr>
                    <td class="col-num">{{inc $idx}}</td>
                    <td class="col-checkbox">
                        <input type="checkbox" name="add_roles" value="{{$item}}">
                    </td>
                    <td>
                        <a href="/cluster/role?name={{$item}}">{{$item}}</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>

        <div class="form-group">
            <input type="hidden" name="csrf" value="{{.data.csrf}}">
            <input type="hidden" name="name" value="{{.data.Item.Name}}">
            <button class="btn btn-outline-danger" type="submit">Grant</button>
        </div>
    </form>
    {{end}}
{{end}}

{{define "footer-year"}}{{.year}}{{end}}
