{{ extends "layout.html" }}
{{define "content"}}
    <div id="error-block" class="col-12 alert alert-danger" {{ if .data.Error }} style="display: block;" {{ end }}>
        <p>{{ .data.Error }}</p>
    </div>

    <div class="col-12 mb-2">
        <h3>{{.data.Title}}</h3>
        <span>
            <a href="/cluster/users">(back to all)</a>
        </span>
    </div>

    <div class="col-12 mb-2">
        <form method="post" action="/cluster/user/create">
        <div class="form-group">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Confirmation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control" value="{{.data.Item.Name}}"
                            autocomplete="off"
                            placeholder="Username"
                            autofocus
                            minlength="2"
                            name="name"
                            maxlength="256">
                    </td>
                    <td>
                        <input class="form-control"
                            type="password"
                            autocomplete="off"
                            placeholder="Password"
                            autofocus
                            minlength="2"
                            name="password"
                            maxlength="256">
                    </td>
                    <td>
                        <input class="form-control"
                            type="password"
                            autocomplete="off"
                            placeholder="Confirmation"
                            autofocus
                            minlength="2"
                            name="confirmation"
                            maxlength="256">
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="form-group">
            <input type="hidden" name="csrf" value="{{.data.csrf}}">
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </div>
        </form>
    </div>
{{end}}

{{define "footer-year"}}{{.year}}{{end}}
